src/main/resources/wsdl/businessService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:ns="http://www.redhat.com/empowered/businessService"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="businessService"
	targetNamespace="http://www.redhat.com/empowered/businessService">
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.redhat.com/empowered/businessService">
			<xsd:element name="person">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="id" type="xsd:string" />
						<xsd:element name="name" type="xsd:string" />
						<xsd:element name="age" type="xsd:int" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="queryPerson">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="id" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="auth">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="usr" type="xsd:string" />
						<xsd:element name="pwd" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="authResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="queryPersonMsg">
		<wsdl:part element="ns:queryPerson" name="parameters" />
	</wsdl:message>
	<wsdl:message name="personMsg">
		<wsdl:part element="ns:person" name="parameters" />
	</wsdl:message>
	<wsdl:message name="authRequest">
		<wsdl:part name="parameters" element="ns:auth"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="authResponse">
		<wsdl:part name="parameters" element="ns:authResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:portType name="personPortType">
		<wsdl:operation name="getPersonOp">
			<wsdl:input message="ns:queryPersonMsg" />
			<wsdl:output message="ns:personMsg" />
		</wsdl:operation>
		<wsdl:operation name="auth">
			<wsdl:input message="ns:authRequest"></wsdl:input>
			<wsdl:output message="ns:authResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="personSoapHttpBinding"
		type="ns:personPortType">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="getPersonOp">
			<soap:operation />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="auth">
			<soap:operation />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="personSoapHttpService">
		<wsdl:port name="personSoapHttpPort" binding="ns:personSoapHttpBinding">
		      <soap:address location="http://0.0.0.0:7123"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
